.ember-power-select-typeahead .ember-power-select-trigger {
  border: none;
}

.ember-power-select-typeahead-input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 1px solid #aaa;
  outline: none;
}