<input type="text" value={{selection}} class="ember-power-select-typeahead-input"
  oninput={{action "search"}}
  onkeydown={{action "handleKeydown"}}
  onclick={{action "captureClick"}}>
{{#if hasPendingPromises}}
  <span class="loading-spinner"></span>
{{/if}}
