<input type="text" value={{if extra.labelPath (get selected extra.labelPath) selected}} class="ember-power-select-typeahead-input"
  oninput={{action "search" value="target.value"}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "captureMouseDown"}}>
{{#if options.isPending}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
