<h2 id="title">Welcome to Ember</h2>
<p>
  <input type="text" placeholder="Tab target">
</p>

{{!-- {{#power-select search=(action 'search') tabindex=-1 selected=selected onchange=(action (mut selected))
  selectedComponent='power-select-typeahead/selected' searchEnabled=false as |number|}}
  {{number}}
{{/power-select}}

<p>
  <input type="text" placeholder="Tab target 2">
</p>

{{#power-select search=(action 'searchAsync') tabindex=-1 selected=selected onchange=(action (mut selected))
  selectedComponent='power-select-typeahead/selected' loadingMessage=false searchEnabled=false as |number|}}
  {{number}}
{{/power-select}} --}}

{{!-- {{#power-select-typeahead search=(action 'searchAsync') selected=selected onchange=(action (mut selected)) as |number|}}
  {{number}}
{{/power-select-typeahead}}
 --}}

{{#power-select-typeahead search=(action 'searchUsersAsync') selected=user onchange=(action (mut user)) extra=(hash labelPath="name") as |user|}}
  {{user.name}}
{{/power-select-typeahead}}

